/* The Funny > By gibbu modified by tropical because it wont fucking import right */

@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");

:root {
  --rs-small-spacing: 0px;
  --rs-medium-spacing: 0px;
  --rs-large-spacing: 0px;

  --rs-small-width: 2px;
  --rs-medium-width: 3px;
  --rs-large-width: 4px;

  --rs-avatar-shape: var(--user-roundness);

  --rs-online-color: var(--success);
  --rs-idle-color: var(--caution);
  --rs-dnd-color: var(--danger);
  --rs-offline-color: var(--unavailable);
  --rs-streaming-color: var(--twitch-purple);
  --rs-invisible-color: var(--invisible);
  --rs-phone-color: var(--rs-online-color);

  --rs-phone-visible: none;
}

#app-mount .wrapper-1VLyxH rect[fill="#43b581"], #app-mount .wrapper-1VLyxH rect[fill="#3ba55c"], #app-mount .wrapper-1VLyxH rect[fill="rgba(67, 181, 129, 1)"], #app-mount .wrapper-1VLyxH rect[mask*=online], #app-mount .wrapper-1VLyxH rect[fill*="hsl(139"] {
  stroke: var(--user-accent, var(--rs-online-color)) !important;
}

/* Fix Lamo */
#app-mount .container-1NXEtd[aria-label="Favorites"] .iconContainer-21RCa3 .wrapper-1VLyxH rect[height="6"] {
	width: 20px !important;
}

#app-mount .container-1NXEtd[aria-label="Favorites"] .iconContainer-21RCa3 .wrapper-1VLyxH rect[x="14"] {
  width: 20px;
  height: 20px;
}
